DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"
AUTH_SECRET="une-valeur-longue-et-aleatoire-de-32-caracteres-minimum"
SEED_ADMIN_EMAIL="admin@badrautoservice.ma"
SEED_ADMIN_PASSWORD="definir-un-mot-de-passe-localement"
